<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                As an aerospace engineer specializing in embedded systems, I'm interested in developing cutting-edge solutions that enable satellites to operate autonomously and efficiently. My work focuses on satellite and UAV navigation systems, emphasizing reliability and functionality enhancement. I bring a background in algorithm development, system optimization, and an understanding of aerospace dynamics to my work. Driven by curiosity and a dedication to continuous learning, I'm excited to leverage my skills to help organizations make advancements towards space industrialization.
            </p>
            <!-- <p class="paragraph-text justify-text">
                My role models include TBD.
            </p> -->
        </div>
    </section>
</div>
